<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>Daily Planet</title>
</head>
  <body>
    <div class="container">
      <nav class='navbar'>
        <a href="/" class='nav-link'>Home</a>
        <a href="/articles">Articles</a>
        <a href="/articles/new">Post a new Article!</a>
        <a href="/about">About us!</a>
      </nav>
      <%- body %>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
