<h1>Articles</h1><br>
<a href="/articles/new" class="btn btn-primary">New Article</a>
<a href="/" class="btn btn-primary">Home</a>

<% articles.forEach(function(article) { %>
  <div class="well">
    <a href="/articles/<%= article.id %>"><h2><%= article.title %></h2></a>
  </div>
<% }); %>
