<div class="row">
  <div class="col-sm-12">
    <h1><%= article.title %></h1>
    <h3><%= article.author %></h3>
    <a href="/articles" class="btn btn-primary">Back to articles</a>  
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <p><%= article.body %></p>
    </div>
  </div>
</div>
