body {
  background: white;
}

.container {
  background: #ececec;
}

.jumbotron {
  background-image: url('https://source.unsplash.com/pi8LjnWrrHY');
  background-size: cover;
  background-position-y: center;
  color: red;
}

.jumbotron h3 {
  color: white;
}

.spacer {
  height: 1em;
  margin: .5em;
}