body {
  margin: 0 auto;
  background: white;
  text-align: center;
  font-family: "Roboto";
}

.error {
  margin: 20% auto 0 auto;
  color: red;
  font-size: 60px;
}

.nav-link {
  font-size: 18px;
}